extends _layouts/_master
block content

    if is_category() != true
        section.page-section.home-intro
            p
                | I build websites. CSS and HTML are
                | my bread and butter!

        section.page-section
            h2.page-section-header Latest activity
            ul.postlisting
                each post in page.posts.toArray()
                    +post(post)

    else
        //- Get category name
        -var categoryname = url_for(path).split('/')[2];
        //- Set markup
        section
            header.page-header
                .page-header-inner
                    h1.page-title= categoryname
            .page-section
                ul.postlisting
                    each post in page.posts.toArray()
                        +post(post)
                +pagination(page)


