extends _layouts/_master
block content
    section.page-section.home-intro
        p
            | I build websites. CSS and HTML are
            | my bread and butter!

    section.page-section
        h2.page-section-header Latest activity
        ul.postlisting
            each post in page.posts.toArray()
                +post(post)
        +pagination(page)



