extends _layouts/_master

block append viewclass
    if is_category() === true
        -viewclass = 'view-' + url_for(path).split('/')[2];
    else
        -viewclass = 'view-home';
block content
    if is_category() != true
        section.page-section.home-intro
            .page-section-inner
                p
                    | Hi!
                    | &nbsp;
                    a(href="/about.html") My name is Jack.
                    br
                    |  I hand-craft websites
                    | for people, not machines.
        section.page-section
            h2.visual-hide See my stuff
            nav.heronav
                ul
                    each val,index in site.data.heronav
                        li: a(href=val): span= index

    else
        //- Get category name
        -var categoryname = url_for(path).split('/')[2];
        //- Set markup
        section
            header.page-header
                .page-header-inner
                    h1.page-title= categoryname
            .page-section
                +postlisting(page,true)


