extends _layouts/_master
block vars
    -var bodyclass = 'view-home';
block content
    .page-header
        .page-header-inner
            p
                | 7 years and countless numbers of curly
                | braces and semi-colons later,
                | I still love hand-crafting websites for people.

    section.page-section
        h2.page-section-header Latest activity
        ul.postlisting
            - page.posts.each(function(article){

              li
                article
                  h2
                    a(href=config.root + article.path)= article.title

            - })



