extends _layouts/_master

block viewclass
    if is_category() === true
        -var viewclass = 'view-' + url_for(path).split('/')[2];

block content

    if is_category() != true
        section.page-section.home-intro
            .page-section-inner
                p
                    | I love hand-crafting websites
                    | that people love to use.

        section.page-section
            .page-section-inner
                h2.page-section-header Latest activity
                ul.postlisting
                    each post in page.posts.toArray()
                        +post(post,'mixed')

    else
        //- Get category name
        -var categoryname = url_for(path).split('/')[2];
        //- Set markup
        section
            header.page-header
                .page-header-inner
                    h1.page-title= categoryname
            .page-section
                ul.postlisting(class='postlisting--' + categoryname)
                    each post in page.posts.toArray()
                        if categoryname == 'work'
                            +post(post,'imageled', false)
                        else
                            +post(post,'default', false)
                +pagination(page)


