extends _layouts/_master
block content
    article.fullpost
        header.fullpost-header(style="background-image:url('#{page.hero_image}')")
            .fullpost-header-inner
                h1.fullpost-title= page.title
        .fullpost-body
            != page.content



