extends _layouts/_master
block content
    if page.hero_image
        -var hero = {'background-image': 'url(' +  page.hero_image  + ')'}
    else
        -var hero = false
    article.fullpost
        header.fullpost-header(style=hero)
            .fullpost-header-inner
                h1.fullpost-title= page.title
        .fullpost-body
            != page.content



