extends base

prepend window_title

  = page.title
  &mdash;

append content
  article(class=page.layout)
    h2= page.title
    img(src="#{page.hero_image}" alt="Hero image for #{page.title}")
    div.meta
      include _partial/article_meta

      +date(page.date)

      +category(page.categories)

    != page.content

  include _partial/article_pagination