extends _layouts/_master
block content
    article.fullpost
        header.fullpost-header(style={'background-color': '#' + page.keycolor})
            .fullpost-header-inner
                h1.fullpost-title= page.title
        if page.full
            figure.fullpost-hero
                img(src=page.full)
        .fullpost-body
            != page.content
        aside
            ul.fullpost-pagination
                if page.prev
                    li: a(href=config.root + page.prev.path)= page.prev.title
                if page.next
                    li: a(href=config.root + page.next.path)= page.next.title


