extends _layouts/_master
block content
    article.fullpost
        header.fullpost-header(style={'background-color': '#' + page.keycolor})
            .fullpost-header-inner
                h1.fullpost-title= page.title
        if page.full
            figure.fullpost-hero
                img(src=page.full)
        .fullpost-body
            != page.content

