/**
 * Site header
 */

.site-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    &-inner{
        @extend %layoutwrap;
        display: flex;
        justify-content: space-between;
        padding: 3rem 0;
    }
    @at-root{
        .site-logo a,
        .site-navigation a{
            display: inline-block;
            vertical-align: top;
            color: color(white);
        }
        .site-logo{
            @include font(1em 1.5em,prominent);
            margin: 0;
            text-transform: uppercase;
            a{
                display: block;
            }
        }
        .site-navigation{
            li{
                display: inline;
            }
            a{
                @include font(1em,prominent);
                margin-left: 2rem;
                text-transform: uppercase;
            }
        }
    }
}
