/**
 * Full post
 */

.view-post{
    .site-logo{
        margin-right: 0;
        margin-left: 0;
    }
}
.fullpost{
    &-header{
        color: color(white);
        h1{
            margin: 0 0 .5em;
        }
    }
        &-date{
            font-size: .8em;
            font-weight: 600;
            text-transform: uppercase;
        }
    &-media{
        margin: 0 -20px 2px;
        img{
            max-width: 100%;
        }
    }
    &-body{
        position: relative;
        margin: 0 -20px;
        padding: 20px;
        background-color: color(white);

        // Post-specific typography
        > p:first-child{
            color: color(key);
            font-weight: 600;
            a{
                color: currentColor;
            }
        }
        h2,
        h3{
            margin-right: -20px;
            margin-left: -20px;
            padding: 0 20px 0 15px;
            border-left: 5px solid color(key);
        }
        pre{
            margin-right: -20px;
            margin-left: -20px;
        }
        blockquote{
            padding: 0 20px;
            &:before{
                @include triangle(right,color(key),10px);
                position: absolute;
                top: .5em;
                left: -20px;
            }
        }
    }
    @include breakpoint(babybear){
        &-body{
            border: 5px solid color(white);
            border-radius: 5px;
            .fullpost-media + &{
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
    @include breakpoint(mamabear){
        &-header{
            padding: 60px 30px;
        }
        &-body{
            padding: 60px;
            > p:first-child{
                font-size: 1.2em;
            }
        }
    }
}
