/**
 * Page header
 */

.site-header{
    @extend %layoutwrap;
    position: relative;
    padding-top: 10px;
    @at-root{
        .site-logo{
            @include setsquare(60px);
            margin: 0 10px;
            background:{
                image: url('../images/site-logo.svg');
                repeat: no-repeat;
                position: center left;
                size: 20px auto;
            };
            a{
                display: block;
                text-indent: -9000px;
            }
        }
    }
    @include breakpoint(mamabear){
        @at-root{
            .site-logo{
                margin-right: 60px;
                margin-left: 60px;
            }
        }
    }
}

.page-heading{
    padding:0 5px 30px;
    color: color(white);
    h1{
        margin: 0 0 .5em;
        font-size: 2em;
    }
    p{
        margin-bottom: 0;
    }
    a{
        color: color(white);
    }
    @include breakpoint(mamabear){
        padding: 0 60px 60px;
    }
}


