extends _layouts/_master

block append viewclass
    -viewclass = 'view-home';
block content
    header.page-header
        .page-header-inner
            h1.page-title I build websites
    .page-section
        +postlisting(page,true)

