/**
 * Shame file
 * Add quick changes here, to be incorperated properly at a later point
 */




.page-section{
    &-inner{
        @extend %layoutwrap;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    &-header{
        @include font(1em);
        margin: 0 0 1em;
        text-align: center;
        text-transform: uppercase;
    }
    &:nth-child(1){
        padding-top: 8rem;
    }
}

.home-intro{
    background-color: color(lime);
    &-inner{
        display: flex;
        min-height: 70vh;
    }
    p{
        @include font(4em,prominent);
        margin: auto;
        color: color(white);
        text-align: center;
    }
}

.page{
    &-header{
        background: color(lime);
        &-inner{
            @extend %layoutwrap;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 40rem;
            padding: 8rem 2rem 4rem;
        }
        h1{
            margin: 0;
            color: color(white);
            font-size: 2em;
            text-transform: uppercase;
        }
    }
}








