/**
 * Shame file
 * Add quick changes here, to be incorperated properly at a later point
 */




.page-section{
    &-inner{
        @extend %layoutwrap;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    &-header{
        @include font(1em);
        margin: 0 0 1em;
        text-align: center;
        text-transform: uppercase;
    }
    &:nth-child(1){
        padding-top: 8rem;
    }
}

.home-intro{
    background-color: color(default);
    &-inner{
        display: flex;
        min-height: 70vh;
    }
    p{
        @include font(4em,prominent);
        margin: auto;
        color: color(white);
        text-align: center;
    }
}

.page{
    &-header{
        background: color(default);
        &-inner{
            @extend %layoutwrap;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 40rem;
            padding: 8rem 2rem 4rem;
        }
        h1{
            margin: 0;
            color: color(white);
            font-size: 2em;
            text-transform: uppercase;
        }
    }
}

.postlisting{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    list-style: none;
    &--work{
        flex-flow: column nowrap;
        .post{
            flex: 1 1 auto;
            article{
                @extend %layoutwrap;
                display: flex;
                padding: 0;
            }
            &-thumb{
                flex: 1 1 rem(300);
            }
            &-details{
                flex: 2 1;
                padding: 2rem;
                color: color(white);
            }
        }
    }
    &--notes{
        @extend %layoutwrap;
    }
}

.fullpost{
    &-header{
        position: relative;
        background:{
            color: #4AD9D9;
            repeat: no-repeat;
            position: center center;
            size: cover;
            attachment: fixed;
        };
        &[style*="background-image"]{
            &:before{
                @include setsize(100%);
                content:' ';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                background-color: fade-out(color(black),.5);
            }
        }
        &-inner{
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: auto;
            max-width: 80rem;
            min-height: 40rem;
            margin: auto;
            padding: 8rem 2rem 4rem;
        }
    }
        &-title{
            margin: 0;
            color: color(white);
            font-size: 2em;
            text-transform: uppercase;
        }
    &-hero{
        @extend %layoutwrap;
        padding:{
            top: 4rem;
            bottom: 4rem;
        };
        img{
            margin: auto;
        }
    }
    &-body{
        width: auto;
        max-width: 80rem;
        margin: auto;
        padding: 4rem 2rem;
        > p:first-child{
            font-size: 1.5em;
        }
    }
}

.view-work{

}

.post{
    position: relative;
    flex: 1 1 30rem;
    overflow: hidden;
    margin: 0;
    article{
        position: relative;
        z-index: 1;
        padding: 2rem;
    }
    &-thumb{
        margin-bottom: 0;
        img{
            @include setsize(100% auto);
        }
    }
    &-header{

    }
        &-meta{
            margin: 0 0 .5em;
            list-style: none;
            &-item{
                display: inline-block;
                vertical-align: top;
                margin: 0;
                text-transform: uppercase;
                &:after{
                    content:'/';
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 .5em;
                }
                &:last-child:after{
                    display: none;
                }
            }
        }
        &-title{
            @include font(1.5em);
            margin: 0;
        }
    &-image{
        margin: 0 -2rem -2rem;
    }
}
