//-
//- Nav links
//-

//- Primary site nav
-var sitenav = [['Work','/categories/work/index.html'],['Notes','/categories/notes/index.html'],['About','/about.html']]

//- Hero nav
-var heronav = [['I\'ve made','/categories/work/index.html'],['I\'ve written','/categories/notes/index.html']]

//- Social nav
-var socialnav = [['twitter','@jackarmley','http://twitter.com/jackarmley'],['codepen','/ jackarmley','http://codepen.io/jackarmley'],['github','/ jackarmley','http://github.com/jackarmley']]
