//-
//- Nav links
//-

//- Primary site nav
-var sitenav = [['Work','/categories/work/index.html'],['Notes','/categories/notes/index.html'],['About','/about.html']]

//- Social nav
-var socialnav = [['twitter','http://twitter.com/jackarmley'],['codepen','http://codepen.io/jackarmley'],['github','http://github.com/jackarmley']]
