block vars
  - var bodyclass = null;
block dependencies
    include ../mixins/post.jade
    include ../mixins/pagination.jade
doctype html
html(lang='en')
    head
        block head
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
            meta(content='width=device-width, initial-scale=1.0' name='viewport')
            title
                block title
                  = locals.name
            link(rel='stylesheet', href='/static/stylesheets/styles.css')
            script(src="/static/libs/modernizr/modernizr.min.js")
    body(class=bodyclass)
        header.site-header(role="banner" aria-label="Site header")
            .site-header-inner
                h1.site-logo: a(href="/")= locals.name
                nav.site-navigation(role="navigation" aria-label="Site navigation")
                    ul
                        -each link in [['Activity','/activity'],['About','/about']]
                            li: a(href="#{link[1]}.html")= link[0]
        main.page-content(role="main" aria-label="Page content")
            block content
        footer(role="contentinfo" aria-label="Site footer")
        script(data-main="/static/scripts/app.min.js" src="/static/libs/requirejs/require.js")


