/**
 * Code formatting
 *
 */

/**
* Preformatted text
*/
    pre{
        box-sizing:border-box;
        overflow:auto;
    	white-space:pre;
    	margin:0 0 1em 0;
        padding: 1.3em 20px;
        line-height: 1.3em;
        background:
            linear-gradient(
                to bottom,
                lighten(color(muted),5%) 0,
                lighten(color(muted),5%) 1px,
                transparent 2px)
            repeat top left/1.3em 1.3em
            lighten(color(muted),10%)
        ;
    }

/**
* Code, samp, kbd
*/
    code,
    samp,
    kbd{
    	display:inline-block;
    	padding:0 0.5em;
        p &,
        li &{
            border-radius: 5px;
            background-color: lighten(color(muted),10%);
        }
    }

/**
* Var
*/
    var{
    	font-style:italic;
    	font-weight:bold;
    }
