mixin image(src,alt)
    -var i = 0;
    -var str = ''
    -var init = ''
    -var alt = alt || false;
    -var imgname = src.split('.')[0]
    -var ext = '.' + src.split('.')[1]
    each val, index in site.data.images
        -str = str + imgname + '-' + index + ext + ' ' + val + 'w';
        if i === 0
            -init = imgname + '-' + index + ext;
        if i < 2
            -str = str + ',';
        -i++;
    img(src=init srcset=str alt=alt)
