//-
//- Post listing
//-

mixin postlisting(obj,paginate)
    ul.postlisting
        each post in obj.posts.toArray()
            li.postlisting-item(style={'background-color': '#' + post.keycolor || false})
                +post(post)
    if paginate
        +pagination(obj)
