mixin post(obj,showcategory)
    -var layout = layout || 'default';
    article.post
        if obj.thumb
            figure.post-thumb(style="background-image:url('#{obj.thumb}');")
                img(src=obj.thumb alt='Screenshot of' + obj.title)
        .post-details
            header.post-header
                h2.post-title: a(href=config.root + obj.path)= obj.title
