//-
//- Pagination
//-

mixin pagination
    ul.pagination
        if prevPage
            li: a.pagination-control.pagination-control--newer(href=prevPage.url data-linked="true") Newer
        if nextPage
            li: a.pagination-control.pagination-control--older(href=nextPage.url data-linked="true") Older
