//-
//- Post
//-

mixin post(obj)
    article.post(data-category=obj.metadata.category)
            header.post-header
                h1.post-title
                    a(href=obj.url)= obj.title
            figure.post-image
                -if (obj.metadata.image_thumb)
                    img(src="#{obj.metadata.image_thumb}")
                -else
                    img(src="/assets/images/work/thumb-brownesdairy.jpg")


