extends master
block vars
    -var bodyclass = 'view-activity';
block content
    section.page-section
        h1.heading-page!= contents['activity.md'].title
        !=contents['activity.md'].html



