extends master
block content
    header.page-heading
        h1 Hello
        p
            | I'm a web designer,
            | living and working in beautiful Perth,
            | Western Australia. This is where
            | I show my work and write things.
            | I also dabble on
            | &nbsp;
            a(href="http://codepen.io/jackarmley") Codepen
            | &nbsp;
            | and occasionally
            | &nbsp;
            a(href="http://twitter.com/jackarmley") tweet
    each article in articles
        +post(article)
    +pagination



