extends master
block vars
    -var bodyclass = 'view-home';
block content
    .page-header
        .page-header-inner
            !=contents['home.md'].html

    section.page-section
        h2.page-section-header Latest activity
        ul.postlisting
            -each value in ['Revitalizing the MRA website','A new home for wa dairy','box shadow pixel art with sass','Jade mixins 101']
                li.postlisting-post: a(href="")
                    h3= value




