extends master
block vars
    -var bodyclass = 'view-home';
block content
    .page-header
        .page-header-inner
            !=contents['home.md'].html

    section.page-section
        h2.page-section-header Latest activity
        ul.postlisting
             ul.postlisting
                each article in articles
                    +post(article)



