/**
 * Full post
 */

.fullpost{
    &-header{
        position: relative;
        background-color: color(lime);
        &-inner{
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: auto;
            margin: auto;
            padding: 4rem 2rem 2rem;
        }
    }
        &-title{
            margin: 0;
            color: color(white);
            font-size: 1.3em;
            text-transform: uppercase;
        }
    &-hero{
        @extend %layoutwrap;
        padding:{
            top: 4rem;
            bottom: 4rem;
        };
        img{
            margin: auto;
        }
    }
    &-body{
        width: auto;
        max-width: 80rem;
        margin: auto;
        padding: 4rem 2rem;
        > p:first-child{
            @include font(1.2em,prominent);
        }
        a{
            text-decoration: underline;
        }
    }
    @include breakpoint(orange){
        &-header{
            &-inner{
                width: auto;
                max-width: 80rem;
                min-height: 30rem;
                padding-top: 8rem;
            }
        }
        &-body{
            > p:first-child{
                @include font(1.5em);
            }
        }
            &-title{
                font-size: 4rem;
            }
    }
}
