/**
 * Post
 */

.post{
    display: flex;
    &-thumb{
        flex: 1 1;
        margin-bottom: 0;
        background:{
            repeat: no-repeat;
            position: center center;
            size: cover;
        };
        img{
            @include setsize(100% auto);
            visibility: hidden;
        }
    }
    &-meta{
        margin: 0;
        list-style: none;
        &-item{
            @include font(.8em);
            display: inline-block;
            vertical-align: top;
            margin: 0;
            text-transform: uppercase;
            &:after{
                content:'/';
                display: inline-block;
                vertical-align: top;
                padding: 0 .5em;
            }
            &:last-child:after{
                display: none;
            }
        }
    }
    &-title{
        @include font(1em);
        margin: 0;
    }
    &-details{
        flex: 2 1;
        padding: 2rem;
    }
    @include breakpoint(orange){
        &-thumb{
            flex-basis: rem(300);
            + .post-details{
                padding: 2rem;
            }
        }
        &-meta{
            margin-bottom: .5em;
            &-item{
                @include font(1em);
            }
        }
        &-title{
            @include font(1.5em);
        }
        &-details{
            padding: 4rem 2rem;
        }
    }
}
