/**
 * Post listing
 */

.postlisting{
    margin: 0;
    list-style: none;
    &-item{
        margin: 0;
        background-color: color(white);
        &:nth-child(odd){
            background-color: color(light);
        }
        .post{
            @extend %layoutwrap;
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
            &-details{
                color: color(white);
            }
        }
        &[style^="background-color:#undefined"]{
            .post{
                &-details{
                    color: color(default);
                }
            }
        }
    }
}
