.visual-hide {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 110%;
	text-align: left;
}

.breakpointguide {
	position: fixed;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background: #fff;
	color: #333;
	font: normal normal 12px/1.5em sans-serif;
}

.breakpointguide-label,
.breakpointguide-value {
	display: block;
	padding: .5em 1em;
}

.breakpointguide-label {
	background: #EF4034;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	color: white;
	text-transform: uppercase;
}

.breakpointguide-value {
	font-weight: bold;
}

@media (min-width: 31.25em) {

.breakpointguide-label {
	background: #efdc34;
}

.breakpointguide-label:before {
	content: "lemon";
}

.breakpointguide-value:before {
	content: "min-width: 500px";
}

}

@media (min-width: 43.75em) {

.breakpointguide-label {
	background: #66ef34;
}

.breakpointguide-label:before {
	content: "orange";
}

.breakpointguide-value:before {
	content: "min-width: 700px";
}

}

@media (min-width: 62.5em) {

.breakpointguide-label {
	background: #34ef9e;
}

.breakpointguide-label:before {
	content: "melon";
}

.breakpointguide-value:before {
	content: "min-width: 1000px";
}

}

